body {
    background-color: #e8e8e8;
    margin: 0;
    padding-bottom: 50px;
}

body * {
    box-sizing: border-box;
    font-family: sans-serif;
}

body > div{
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}

.post {
    max-width: 600px;
    background-color: white;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1 {
    width: 600px;
}

h2, p, span {
    margin: 0;
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

span {
    align-self: center;
    color: gray;

}

p {
    padding-left: 20px;
    padding-right: 20px;
}

img {
    object-fit: cover;
    max-width: 100%;
}